.filters {

    &__wrapper {
        border: 1px solid #FDFDFD;
        padding: 3rem 2rem;
    }
    
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
}